    <main>
      <nav class="border-bottom">
        <div class="menu my-auto"><i class="fa-solid fa-bars"></i></div>
        <div class="sub-menu">
          <div class="search me-3">
            <input type="text" id="search-bar" autocomplete="off" class="form-control rounded-0 Field" placeholder="Search by name" aria-label="Search" aria-describedby="basic-addon2" />
            <a id="search-btn" class="btn btn-outline-primary rounded-0">Search</a>
          </div>
          <div class="profile mt-2">
            <h6><i class="fa-solid fa-circle-user fa-2xl me-2"></i>Adi<i class="fa-solid fa-angle-down ms-2"></i></h6>
          </div>
        </div>
      </nav>